.card {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 45px;
    margin-top: 7px;
  }
  
  .back {
    background-color: darkgrey;
    border: none;
    padding: 10px 40px;
    border-radius: 3px;
    color: #fff;
    margin-left: 45px;
  }
  
  .link {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }

  
.button-container {
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos */
  align-items: center; /* Alinea verticalmente al centro */
}